.MMM-Oura2 .container {
	display: grid;
	grid-template-columns: 1fr auto;
	transform: translateY(-.6em);
	width: 600px; 
	background-color: black; 
	color: white; 
	border-top: 1px solid #666;
}

.MMM-Oura2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

.MMM-Oura2 canvas {
	padding-top: 5px;
}

