.MMM-Oura2 .container {
	display: grid;
	grid-template-columns: 1fr auto;
	transform: translateY(-.6em);
	padding-top: 20px; 
	float: clear; 
	width: 600px; 
	background-color: black; 
	color: white; 
	border-style: none;
	border-width: 1px; 
	border-color: #BBBBBB; 
	border-radius: 5px;
}

.MMM-Oura2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

